{% load static %}
 
<!DOCTYPE html>
<html lang="en">
 
<head>
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
 
  <title>Django flatpages — {% block title %} {% endblock title %}</title>
 
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet'>
  <link href="{% static 'base.css' %}" rel='stylesheet'>
</head>
 
<body>
 
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="navbar-brand mb-0 h1" href="/news/">Home</a></li>
          <li class="nav-item btn-primary"><a href="{% url 'news_search' %}" class="nav-link">Поиск</a></li>
        </ul>
      </div>
      {% comment %} <span>
        <a class="navbar-brand mb-0 h1" href="/news/">Home</a>
        <a href="{% url 'news_search' %}" class="nav-item btn-primary">Поиск</a>
      </span> {% endcomment %}
      <div class="collapse navbar-collapse pl-4" id="navbarResponsive">
        {% if user.is_authenticated %}
          <span class="navbar-brand">Hello, {{ user.username }}!</span>
        {% endif %}
      </div>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            
          </li>
          {% comment %} <li class="nav-item">
            <a class="nav-link" href="/about/">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacts/">Contact</a>
          </li> {% endcomment %}
        {% if user.is_authenticated %}
          {% if is_not_author %}
            <li class="nav-item btn-secondary"><a class="nav-link" href="{% url 'be_author' %}">Be Author</a></li>
          {% endif %}
          <li class="nav-item btn-success"><a class="nav-link" href="{% url 'account_email' %}">Change E-mail</a></li>
          <li class="nav-item btn-info"><a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
          <li class="nav-item btn-success"><a class="nav-link" href="{% url 'account_login' %}">Sign In</a></li>
          <li class="nav-item btn-info"><a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="title">
    {% block header %}
    {% endblock header %}
  <div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        {% block body %}
        {% block content %}
          {{ flatpage.content }}
        {% endblock content %}
        {% endblock body %}
        {% block extra_body %}
        {% endblock extra_body %}
      </div>
    </div>
  </div>
 
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
 
</body>
 
</html>