{% extends 'base.html' %} 

{% load censor %}

{% block title %}
Новость
{% endblock title %}
 
{% block content %}
<h1>{{ new.title }}</h1>
<h2>{{ new.updated|date:'d M Y H:m' }}</h2>
<p>{{ new.text|censor }}</p>

{% if can_edit %}
    <p align='right'>
        <a href="{% url 'news_update' new.id %}" class="btn btn-success">Редактировать</a>
        <a href="{% url 'news_delete' new.id %}" class="btn btn-danger">Удалить</a>
    </p>
{% endif %}

<a href="{% url 'news_list' %}" class="btn btn-primary">Назад</a>

{% endblock content %}